<div class="contextual">
<%= link_to '新しいエスカレーションユーザの追加', new_escalation_user_path, :class => 'icon icon-add' %>
</div>
<div>
  <table class="list users">
  <thead><tr>
  <th><%=l(:field_id)%></th>
  <th><%=l(:field_name)%></th>
  <th><%=l(:field_phone_number)%></th>
  <th><%=l(:field_priority)%></th>
  <th></th>
  </tr></thead>
  <tbody>
  <% EscalationUser.order(:priority).each do |escalation_user| -%>
  <tr>
  <td><%= link_to escalation_user.id, edit_escalation_user_path(escalation_user) %></td>
  <td><%= escalation_user.user.name %></td>
  <td><%= escalation_user.phone_number %></td>
  <td><%= escalation_user.priority %></td>
  <td class="buttons">
    <%= delete_link escalation_user_path(escalation_user, :back_url => request.original_fullpath) %>
  </td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
